@model IEnumerable<CustomerRelaManag.Models.Projects>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <@*th>
                @Html.DisplayNameFor(model => model.PMID)
            </th>*@
            <th>
                AssignTo
                @*@Html.DisplayNameFor(model => model.TeamId)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BdId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clientid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            @*td>
                @Html.DisplayFor(modelItem => item.PMID)
            </td>*@
            <td>
                    @Html.DropDownList("TmList", (IEnumerable<SelectListItem>)ViewBag.tm, new { id = "tm", @class = "form-control" })

                @*@Html.DisplayFor(modelItem => item.TeamId)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BdId)
            </td>
            <td>
                <button>AssignTo</button>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
