@model CustomerRelaManag.Models.Projects

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Projects</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clientid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clientid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PMID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PMID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BdId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BdId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProjectId">Edit</a> |
    <a asp-action="BDEUI">Back to List</a>
</div>
